<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

<div class="events">
	<h3>Where you might have met me</h3>

	<h2 class="center">2013</h2>

		<p><a href="http://www.campuslondon.com/edu/" target="_blank">Campus EDU: Marketing essentials</a><br/>
			13th December 2013, 1 pm<br/>
			Google Campus London, 4-5 Bonhill St, EC2A 4BX<br/>
			<em class="fab"><span class="glyphicon glyphicon-thumbs-up"></span> Excellent talks by Googlers <a href="http://twitter.com/directnewideas" target="_blank">Patrick Collister</a> and <a href="http://twitter.com/harrydavies" target="_blank">Harry Davies</a>.</em></p>

		<p><a href="http://www.codefirstgirls.org.uk/" target="_blank">Entrepreneur First: Women in tech panel</a><br/>
			12th December 2013, 7 pm<br/>
			Level39, One Canada Square, Canary Wharf, E14 5AB</p>

		<p><a href="http://wiseqmul.wordpress.com/wise-events-calendar/" target="_blank">WISE@QMUL panel discussion: "The leaky pipeline: Female PhD transitions" (and Christmas party!)</a><br/>
			11th December 2013, 5:30 pm<br/>
			Blomeley Room, Queen Mary Students Union, E1 4NS</p>

		<p class="fab"><a href="http://www.oxbridgebiotech.com/review/featured/obr-london-votes-favor-reforming-university-technology-transfer-offices/" target="_blank">OBR debate: This house believes university technology transfer offices must reform to survive</a><br/>
			<em><span class="glyphicon glyphicon-thumbs-up"></span> 5th December 2013, 7 pm<br/>
			Blackett Building Lecture Theatre, Imperial College London, SW7 2BA</p>

		<p class="fab"><a href="http://citystarters.co.uk/bootstrap-business-seminars" target="_blank">CityStarters Bootstrap Business Seminar: Delivering a kick-ass pitch</a><br/>
			3rd December 2013, 6 pm<br/>
			Drysdale Lecture Theatre, City University London, EC1V 0HB<br/>
			<em><span class="glyphicon glyphicon-thumbs-up"></span> Excellent delivery by <a href="https://twitter.com/amplifycoach" target="_blank">@amplifycoach</a> <a href="https://twitter.com/StewartBewley" target="_blank">@StewartBewley</a></em></p>

		<p class="fab"><a href="http://sites.google.com/site/cityunrulyvis/home" target="_blank">CityUnrulyversity: Graphical innovation - Great ideas for visualising data</a><br/>
			<span class="glyphicon glyphicon-thumbs-up"></span> 27th November 2013, 6 pm<br/>
			Unruly HQ, 42-46 Princelet Street, E1 5LP</p>

		<p><a href="http://www.citystarters.co.uk/bootstrap-business-seminars" target="_blank">CityStarters Bootstrap Business Seminar: Raising capital and doing deals</a><br/>
			26th November 2013, 6 pm<br/>
			Drysdale Lecture Theatre, City University London, EC1V 0HB</p>

		<p><a href="http://dnadigest.hackpad.com" target="_blank">DNAdigest: Hack Day</a><br/>
			23rd November 2013<br/>
			Wayra Agora Space, 2-10 Capper Street, WC1E 6JA</p>

		<p class="fab"><a href="http://wiseqmul.wordpress.com/2013/11/11/our-next-event-i-want-to-be-an-academic-a-female-perspective/" target="_blank">WISE@QMUL panel discussion: "I want to be an academic" – a female perspective</a></span><br/>
			<span class="glyphicon glyphicon-thumbs-up"></span> 20th November 2013, 12:30 pm<br/>
			Matt Spencer Boardroom, Queen Mary Students Union, E1 4NS</p>

		<p><a>Panel discussion: Bioentrepreneurship opportunities for PG students (as speaker)</a><br/>
			19th November 2013, 5 pm<br/>
			RSM228, Royal School of Mines, Imperial College London</p>

		<p><a href="http://soundcloud.com/theodi/odi-fridays-how-politicians" target="_blank">ODI Fridays: How politicians lie with data, with Hetan Shah</a><br/>
			15th November 2013, 1 pm<br/>
			Open Data Institute, 65 Clifton Street, EC2A 4JE</p>
			
		<p><a href="http://www.flossie.org/content/flossie-2013" target="_blank">Flossie 2013</a><br/>
			8th-9th November 2013<br/>
			Queen Mary, University of London, E1 4NS</p>

		<p><a href="http://www.oxbridgebiotech.com/events/london-onestart-launch/" target="_blank">OBR: OneStart Competition Launch</a><br/>
			7th November 2013, 6:30 pm<br/>
			London Research Institute, WC2A 3LY</p>

		<p><a href="http://www.unrulymedia.com/city-unrulyversity" target="_blank">CityUnrulyversity: The startup branding toolkit (II)</a><br/>
			6th November 2013, 6 pm<br/>
			The Hangout, 25 City Road, EC1Y 1AA<br/>
			<em class="fab"><span class="glyphicon glyphicon-thumbs-up"></span> Very impressed with <a href="http://twitter.com/EatroSocial" target="_blank">Eatro</a>'s branding!</em></p>

		<p class="fab"><a href="http://coderwave.com/" target="_blank">Coderwave workshop: Catch the Wave - HTML/CSS/Ruby</a><br/>
			<span class="glyphicon glyphicon-thumbs-up"></span> 30th October 2013<br/>
			Google Campus London, 4-5 Bonhill St, EC2A 4BX</p>

		<p><a href="http://www.citystarters.co.uk/bootstrap-business-seminars" target="_blank">CityStarters Bootstrap Business Seminar: Designing your minimum viable product</a><br/>
			29th October 2013, 6 pm<br/>
			Drysdale Lecture Theatre, City University London, EC1V 0HB</p>

		<p><a href="http://www.campuslondon.com/edu/" target="_blank">Campus EDU: Building great teams</a><br/>
			25th October 2013, 1 pm<br/>
			Google Campus London, 4-5 Bonhill St, EC2A 4BX</p>

		<p><a href="http://wiseqmul.wordpress.com/2013/10/17/wise-video-discussion-a-chemical-imbalance/" target="_blank">WISE@QMUL video discussion: "A chemical imbalance"</a></span><br/>
			17th October 2013, 12:30 pm<br/>
			School of Engineering, Queen Mary, University of London, E1 4NS</p>

		<p><a href="http://www.oxbridgebiotech.com/review/featured/disclosure-clinical-trials-results-panel-discussion-obr-london/" target="_blank">OBR panel discussion: To share or not to share? Registration and reporting of clinical trial results</a><br/>
			16th October 2013, 7 pm<br/>
			Stamford Street Lecture Theatre, Kings College London, SE1 9NN</p>

		<p><a href="http://www.kendo.org.uk/kendo/grading-requirements/" target="_blank">British Kendo Association: London Grading (passed Shodan)</a><br/>
			13th October 2013<br/>
			Mumeishi Kendo Club, Cranford Community College, TW5 9PD</p>

		<p class="fab"><a href="http://playground.indexventures.com/" target="_blank">Index Ventures: Playground 2013</a><br/>
			<span class="glyphicon glyphicon-thumbs-up"></span> 9th October 2013<br/>
			The Brewery, 52 Chiswell St, EC1Y 4SA</p>

		<p class="fab"><a href="http://www.senseaboutscience.org/pages/september-2013.html" target="_blank">Sense About Science media workshop: "Standing up for science"</a><br/>
			<span class="glyphicon glyphicon-thumbs-up"></span> 20th September 2013<br/>
			Physiological Society, 30 Farringdon Lane, EC1R 3AW</p>

		<p><a href="http://www.bci.qmul.ac.uk/index.php/bbsrc-annual-symposium.html" target="_blank">BBSRC Inaugural Taiwan-UK Partnering Award Annual Symposium: "MicroRNAs and non-coding RNAs - Biology and cancer" (as speaker)</a><br/>
			10th September 2013<br/>
			Barts Cancer Institute, Charterhouse Square, EC1M 6BQ</p>

		<p><a href="http://www.youtube.com/watch?v=eE2d7a3VgJY" target="_blank">East Midlands Universities Postgraduate Research Conference 2013 (as speaker)</a><br/>
			6th September 2013<br/>
			University of Derby, DE22 1GB</p>

		<p><a href="http://wiseqmul.wordpress.com/2013/07/24/wise-event-women-in-science-policy/" target="_blank">WISE@QMUL guest seminar: Women in science policy</a><br/>
			2nd July 2013, 12:30 pm<br/>
			Francis Bancroft Building, Queen Mary, University of London, E1 4NS</p>

		<p><a>Biochemical Society members' lunch: Open access publishing</a><br/>
			23rd May 2013, 12 pm<br/>
			Charles Darwin House, 12 Roger Street, WC1N 2JU</p>

		<p class="fab"><a>HKUAA UK: Lunch with Mrs Anson Chan</a><br/>
			<span class="glyphicon glyphicon-thumbs-up"></span> 21st May 2013, 12 pm<br/>
			Grand Imperial London, Grosvenor Hotel, SW1W 0SJ</p>

		<p class="fab"><a href="http://www.biochemistry.org/Conferences/AllConferences/tabid/379/View/Programme/MeetingNo/SA144/Default.aspx"  target="_blank">Biochemical Society conference: Biogenesis and turnover of small RNAs</a><br/>
			<span class="glyphicon glyphicon-thumbs-up"></span> 15th-17th January 2013<br/>
			Royal Society of Edinburgh, 22-26 George Street, EH2 2PQ</p>			

	<h2 class="center">2012 and before</h2>
		<p>Too absorbed in my research back then; was in the lab 24/7. Almost.</p>

	<p class="right"><a href="/"><span class="glyphicon glyphicon-hand-left"></span> I've seen enough, thanks</a></p>

	<p class="center"><small>Many thanks to <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> and <a href="http://glyphicons.com/" target="_blank">Glyphicons</a>.</small></p>
</div>

    </div>
  </div>
</div>