<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

<div class="events">
	<h3>Events I've been to</h3>

	<p><a href="http://www.oxbridgebiotech.com/events/london-onestart-launch/" target="_new">OBR OneStart Launch</a><br />7th November 2013, 6:30 pm<br />London Research Institute, WC2A 3LY</p>
		
	<p><a href="http://www.flossie.org/content/flossie-2013" target="_new">Flossie 2013</a><br />8th-9th November 2013<br />Queen Mary, University of London, E1 4NS</p>

	<p><a href="http://wiseqmul.wordpress.com/wise-events-calendar/" target="_new">WISE@QMUL Female Lecturers Panel Discussion</a><br />20th November 2013, 12:30 pm<br />Matt Spencer Boardroom, Queen Mary Students Union, E1 4NS</p>

	<a href="/">Go back</a>
</div>

    </div>
  </div>
</div>