<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

<div class="events">
	<h3>Where I've been</h3>

	<h2>F/W 2013</h2>
		<p><a href="http://sites.google.com/site/cityunrulyvis/home" target="_new">CityUnrulyversity: Graphical Innovation - Great Ideas for Visualizing Data</a><br/>
			27th November 2013, 6:00 pm<br/>
			Unruly HQ, 42-46 Princelet Street, E1 5LP</p>

		<p><a href="http://www.citystarters.co.uk/bootstrap-business-seminars" target="_new">CityStarters Bootstrap Business Seminars: Raising Capital and Doing Deals</a><br/>
			26th November 2013, 6:00 pm<br/>
			Drysdale Lecture Theatre, City University London, EC1V 0HB</p>

		<p><a href="http://dnadigest.hackpad.com" target="_new">DNAdigest: Hack Day</a><br/>
			23rd November 2013, 09:30 pm<br/>
			Wayra Agora Space, 2-10 Capper Street, WC1E 6JA</p>

		<p><a href="http://soundcloud.com/theodi/odi-fridays-how-politicians" target="_new">ODI Fridays: How politicians lie with data, with Hetan Shah</a><br/>
			15th November 2013, 1:00 pm<br/>
			Open Data Institute, 65 Clifton Street, EC2A 4JE</p>

		<p><a href="http://wiseqmul.wordpress.com/wise-events-calendar/" target="_new">WISE@QMUL Female Lecturers Panel Discussion</a><br/>
			20th November 2013, 12:30 pm<br/>
			Matt Spencer Boardroom, Queen Mary Students Union, E1 4NS</p>
			
		<p><a href="http://www.flossie.org/content/flossie-2013" target="_new">Flossie 2013</a><br/>
			8th-9th November 2013<br/>
			Queen Mary, University of London, E1 4NS</p>

		<p><a href="http://www.oxbridgebiotech.com/events/london-onestart-launch/" target="_new">OBR: OneStart Launch</a><br/>
			7th November 2013, 6:30 pm<br/>
			London Research Institute, WC2A 3LY</p>

		<P>(More to come...)


	<p class="right"><a href="/">I've seen enough, thanks</a></p>
</div>

    </div>
  </div>
</div>