<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

<div class="profile">
	<h1>Sybil CK Wong</h1>
	<div class="center">
		<img src="https://pbs.twimg.com/profile_images/378800000486080965/465b4bcfd4b3545263bb6d46aea50536.png"/>
	</div>
	<h3>PhD student at the Barts Cancer Institute, London</h3>
	<p>Investigating how proteins collaborate with small RNAs to prevent cancer</p>
	<!--<p>Seeking paths from primary research to product realisation</p>-->
	<p><em>Follow me on twitter <a href="http://twitter.com/SybilCKW">@SybilCKW</em></a>
	<p><em>Find my ideas on <a href="http://marblar.com/sybil">Marblar</a></em></p>

	<!--<h2>People I work with</h2>-->

</div>

<div class="events">
	<h3>When and where you're likely to find me</h3>
	<p><a href="http://www.codefirstgirls.org.uk/" target="_new">Code First: Girls, London</a><br/>Thursdays, 6 pm<br/>Level39, One Canada Square, Canary Wharf, E14 5AB</p>

	<p>2nd-3rd December 2013</br/>York</p>

	<p><a href="http://www.eventbrite.co.uk/e/bootstrap-business-seminar-delivering-a-kick-ass-pitch-tickets-8383736983" target="_new">CityStarters Bootstrap Business Seminars: Delivering a Kick-Ass Pitch</a><br/>
			3rd December 2013, 6:00 pm<br/>
			Drysdale Lecture Theatre, City University London, EC1V 0HB</p>

	<p><a href="http://www.oxbridgebiotech.com/events/house-believes-university-technology-transfer-offices-must-reform-survive/" target="_new">OBR debate: This House Believes University Technology Transfer Offices Must Reform to Survive</a><br/>
		5th December 2013, 6:30 pm<br/>
		Blackett Building Lecture Theatre 1, Imperial College London, SW7 2BA</p>

	<p><a href="http://wiseqmul.wordpress.com/wise-events-calendar/" target="_new">WISE@QMUL panel discussion: PhD transitions (and Christmas party!)</a><br/>
		11th December 2013, 5:30 pm<br/>
		Blomeley Room, Queen Mary Students Union, E1 4NS</p>
	
	<p><a href="http://www.keystonesymposia.org/index.cfm?e=web.Meeting.Program&meetingid=1299" target="_new">Keystone Symposium: RNA Silencing</a><br/>
		31st January-5th February 2014<br/>
		Seattle!

	<p class="right"><a href="/events">A record of the passage of time</a></p>
</div>

<div class="profile">
	<strong>30/10/2013</strong> Huge thank you to Rosario (<a href="http://twitter.com/_sarhus" target="_new">@_sarhus</a>) from <a href="http://coderwave.com/" target="_new">Coderwave</a> for teaching me how to get this started with basic Ruby and Sinatra!
</div>

<div class="profile">
	<strong>11/05/2013</strong> Photo of bluebells taken at Charterhouse Square, EC1M 6BQ, with John Vane Science Centre in the background.
</div>

    </div>
  </div>
</div>