<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

<div class="profile">
	<h1>Sybil CK Wong</h1>
	<div class="center">
		<img src="https://pbs.twimg.com/profile_images/378800000486080965/465b4bcfd4b3545263bb6d46aea50536.png" />
	</div>
	<h3>PhD student at the Barts Cancer Institute, London</h3>
	<p>Investigating how proteins collaborate with small RNAs to prevent cancer</p>
	<!--<p>Seeking paths from primary research to product realisation</p>-->
	<p><em>Follow me on twitter <a href="http://twitter.com/SybilCKW">@SybilCKW</em></a>
	<p><em>Find my ideas on <a href="http://marblar.com/sybil">Marblar</a></em></p>

	<!--<h2>People I work with</h2>-->

</div>

<div class="events">
	<h3>Events you're likely to find me at</h3>
	<p><a href="http://www.oxbridgebiotech.com/events/house-believes-university-technology-transfer-offices-must-reform-survive/">OBR debate: This House Believes University Technology Transfer Offices Must Reform to Survive</a><br />5th December 2013, 6:30 pm<br />Blackett Building Lecture Theatre 1, Imperial College London, SW7 2BA</p>
	<p><a href="http://wiseqmul.wordpress.com/wise-events-calendar/">WISE@QMUL panel discussion: PhD transitions (and Christmas party!)</a><br />11th December 2013, 5:30 pm<br />Blomeley Room, Queen Mary Students Union, E1 4NS</p>
	<p class="right"><a href="/events">See past events</a></p>
</div>

<div class="profile">
	<strong>30/10/2013</strong> Huge thank you to Rosario (<a href="http://twitter.com/_sarhus" target="_new">@_sarhus</a>) from <a href="http://coderwave.com/" target="_new">Coderwave</a> for teaching me how to get this started with basic Ruby and Sinatra!
</div>

    </div>
  </div>
</div>