<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

<div class="profile">
	<h1>Sybil CK Wong</h1>
	<div class="center">
		<img src="https://pbs.twimg.com/profile_images/378800000486080965/465b4bcfd4b3545263bb6d46aea50536.png"/>
	</div>
	<h3>PhD student at the Barts Cancer Institute, London</h3>
	<p>Investigating how proteins collaborate with small RNAs to prevent cancer</p>

	<p><em>Follow me on twitter <a href="http://twitter.com/SybilCKW" target="_blank">@SybilCKW</em></a>
		<p><em>Find my ideas on <a href="http://marblar.com/sybil" target="_blank">Marblar</a></em></p>
		<p><em>Explore my research on <a href="http://www.mendeley.com/profiles/sybil-wong/" target="_blank">Mendeley</a> or <a href="http://www.researchgate.net/profile/Sybil_Wong/" target="_blank">ResearchGate</a></em></p>

	<p class="footer">What you see above is an image I captured on a microscope of a <a href="http://www.lgcstandards-atcc.org/products/all/HTB-96.aspx" target="_blank">U2OS</a> cell containing a fluorescently labelled protein named <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene=TNRC6A" target="_blank">TNRC6A</a>, which aggregates into cytoplasmic 'dots' called <a href="http://www.landesbioscience.com/journals/rnabiology/article/3499/?nocache=1557917033" target="_blank">p-bodies.</a></p>
</div>

<div class="events">
	<h3>When and where you're likely to find me</h3>
	<p><a href="http://www.codefirstgirls.org.uk/" target="_blank">Code First: Girls, London</a><br/>Thursdays, 21st November-12th December 2013, 6 pm<br/>Level39, One Canada Square, Canary Wharf, E14 5AB</p>

	<p><a href="http://www.eventbrite.co.uk/e/bootstrap-business-seminar-delivering-a-kick-ass-pitch-tickets-8383736983" target="_blank">CityStarters Bootstrap Business Seminar: Delivering a kick-ass pitch</a><br/>
		3rd December 2013, 6 pm<br/>
		Drysdale Lecture Theatre, City University London, EC1V 0HB</p>

	<p><a href="http://www.oxbridgebiotech.com/events/house-believes-university-technology-transfer-offices-must-reform-survive/" target="_blank">OBR debate: This house believes university technology transfer offices must reform to survive</a><br/>
		5th December 2013, 6:30 pm<br/>
		Blackett Building Lecture Theatre 1, Imperial College London, SW7 2BA</p>

	<p><a href="http://wiseqmul.wordpress.com/wise-events-calendar/" target="_blank">WISE@QMUL panel discussion: PhD transitions (and Christmas party!)</a><br/>
		11th December 2013, 5:30 pm<br/>
		Blomeley Room, Queen Mary Students Union, E1 4NS</p>
	
	<p><a href="http://www.keystonesymposia.org/index.cfm?e=web.Meeting.Program&meetingid=1299" target="_blank">Keystone Symposium: RNA Silencing</a><br/>
		31st January-5th February 2014<br/>
		Seattle!
	<p class="right"><a href="/events">A record of the passage of time <span class="glyphicon glyphicon-hand-right"></span></a></p>
</div>

<div class="profile groups">
	<h3>Groups I enjoy doing things with</h3>
	<div class="inline">
		<p>BCI, QMUL<br/>
			<a href="http://bci.qmul.ac.uk/index.php/staff/item/sharp.html" target="_blank"><img src="https://pbs.twimg.com/profile_images/3607237991/531a88a27a3643b58a542c2a26616bcd.jpeg"/></a><br/>
			<a href="http://twitter.com/QMBCI" target="_blank">@QMBCI</a></p>
	</div>
	<div class="inline">
		<p>UoN<br/>
			<a href="http://www.nottingham.ac.uk/life-sciences/research/research.aspx" target="_blank"><img src="https://pbs.twimg.com/profile_images/1230906256/twitterlogo.jpg"/></a><br/>
			<a href="http://twitter.com/UniofNottingham" target="_blank">@UniofNottingham</a></p>
	</div>
	<div class="inline">
		<p>STEMNET<br/>
			<a href="http://networking.stemnet.org.uk/users/139819" target="_blank"><img src="https://pbs.twimg.com/profile_images/2209006639/untitled.JPG"/></a><br/>
			<a href="http://twitter.com/STEMNET" target="_blank">@STEMNET</a></p>
	</div>
	<div class="inline">
		<p>WISE@QMUL<br/>
			<a href="http://wiseqmul.wordpress.com/" target="_blank"><img src="https://pbs.twimg.com/profile_images/1099729909/logo_twitter.jpg"/></a><br/>
			<a href="http://twitter.com/WISEQMUL" target="_blank">@WISEQMUL</a></p>
	</div>
	<div class="inline">
		<p>OBR London<br/>
			<a href="http://www.oxbridgebiotech.com/chapters/london-chapter/" target="_blank"><img src="https://pbs.twimg.com/profile_images/3745046669/a75436a1dc069be4f4d036d154952b46.png"/></a><br/>
			<a href="http://twitter.com/OBR_London" target="_blank">@OBR_London</a></p>
	</div>
	<div class="inline">
		<p>QM Kendo Club<br/>
			<a href="http://qmkendo.wordpress.com/" target="_blank"><img src="https://pbs.twimg.com/profile_images/378800000573462273/6f15fd89d78ed093872579a0a4306ebe.jpeg"/></a><br/>
			<a href="http://twitter.com/QMKendo" target="_blank">@QMKendo</a></p>
	</div>
	<div class="inline">
		<p>Hizen Dojo<br/>
			<a href="http://hizen.info/" target="_blank"><img src="https://pbs.twimg.com/profile_images/1664340688/Hizen-mon.png"/></a><br/>
			<a href="http://twitter.com/HizenKendo" target="_blank">@HizenKendo</a></p>
	</div>
</div>

<div class="profile">
	<p><strong>30/10/2013</strong> Huge thank you to Rosario (<a href="http://twitter.com/_sarhus" target="_blank">@_sarhus</a>) from <a href="http://coderwave.com/" target="_blank">Coderwave</a> for teaching me how to deploy a website with basic Ruby and Sinatra!</p>
	<p class="center footer">And many thanks to <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> and <a href="http://glyphicons.com/" target="_blank">Glyphicons</a>.</p>
</div>

<div class="profile">
	<p><strong>11/05/2013</strong> Photo of bluebells taken at Charterhouse Square, EC1M 6BQ: John Vane Science Centre, home of BCI, in the background.</p>
</div>

    </div>
  </div>
</div>