html { 
  background: url('/images/CHSQ-130511.jpg') no-repeat center center fixed; /*url is relative to style.css, so need / at start of URL*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background:none; /*Bootstrap original bkgd is white*/
}

div, h3 {
	font-family: 'Roboto Condensed', sans-serif;
}
h1, h2 {
	font-family: 'Loved by the King', sans-serif;
	text-align: center;
	font-weight: bold;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 16px;
	font-weight: bold;
}
small {
	font-size: 11px;
}

.center {
	text-align: center;
	margin: 0 auto;
}
.right {
	text-align: right;
}
.footer {
	font-size: 11px;
	margin-top: 20px;
}
.fab {
	font-weight: bold;
}
.inline {
	display: inline-block;
}

/*Originally used rgba(174, 205, 205, 0.85)*/
.profile, .groups, .events {
	background: rgba(255, 255, 255, 0.85);
  margin: 20px; padding: 20px;
	border-right: 4px solid #253333;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom: 4px solid #253333;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	}
.profile, .groups {
	text-align: center;
}
.events {
	text-align: left;
}	

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  /*display: block;
	margin: 0 auto; centering by equalising right/left margins*/
}

.groups div {
	margin: 5px;
}

.groups img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  /*display: block;
	margin: 0 auto; centering by equalising right/left margins*/
}

.events h2 {
	margin-top: 20px;
	margin-bottom: 5px;
}